node_modules
package-lock.json
package.json
resources/
public/
.hugo_build.lock
.DS_Store
# Ignore downloaded image sliders
static/images/rv-service/
wordpress/static
/utility/static/
utility/static/
content copy
wordpress/static/images/