<div class="contact-grid">
    <div class="contact-label">Address</div>
    <div class="contact-content">
      <p>3393 Enterprise Ave.<br>Hayward, CA 94545</p>
    </div>
  
    <div class="contact-label">Phone</div>
    <div class="contact-content">
      <p>510-783-9050</p>
    </div>
  
    <div class="contact-label">Hours</div>
    <div class="contact-content">
      <p>Monday – Friday : 8am – 5pm</p>
    </div>
  
    <div class="contact-label">Email</div>
    <div class="contact-content">
      <a class="email-button" href="mailto:Michael@cabear.com">Email: Michael@cabear.com</a>
    </div>
  </div>
  