<div id="header">

    <div class="header-branding">
        <a href="{{ "/" | relURL }}" class="header-logo-link">
          <img src="{{ .Site.Data.globalheader.image | relURL }}"
               alt="{{ .Site.Data.globalheader.image_alt }}"
               class="site-logo" />
          {{- $t := .Site.Data.globalheader.title }}
          {{- if and (isset .Site.Data.globalheader "title") (ne $t "") }}
            <span class="site-title">{{ $t }}</span>
          {{- end }}
        </a>
      </div>
      

    <nav id="nav">
        <ul>
            {{- range .Site.Menus.main }}
                <li class="{{ if or ($.Page.IsMenuCurrent "main" .) ($.Page.HasMenuCurrent "main" .) }}current{{ end }}">
                    <a href="{{ .URL | default "#" }}">{{ .Name }}</a>
                    {{- if .HasChildren -}}
                    <ul>
                        {{- range .Children }}
                        <li class="{{ if or ($.Page.IsMenuCurrent "main" .) ($.Page.HasMenuCurrent "main" .) }}current{{ end }}">
                            <a href="{{ .URL | default "#" }}">{{ .Name }}</a>
                            {{- if .HasChildren -}}
                            <ul>
                                {{- range .Children }}
                                <li class="{{ if or ($.Page.IsMenuCurrent "main" .) ($.Page.HasMenuCurrent "main" .) }}current{{ end }}">
                                    {{/* aoeu fix 'current' thing */}}
                                    <a href="{{ .URL | default "#" }}">{{ .Name }}</a>
                                {{- end }}
                            </ul>
                            {{- end -}}
                        {{- end }}
                    </ul>
                    {{- end -}}
            {{- end }}
        </ul>
    </nav>
</div>
