<!-- layouts/partials/header.html -->

<div id="header">

  <div class="header-branding">
    <a href="{{ "/" | relURL }}" class="header-logo-link">
      <img src="{{ .Site.Data.globalheader.image | relURL }}"
           alt="{{ .Site.Data.globalheader.image_alt }}"
           class="site-logo" />
      {{- with .Site.Data.globalheader.title }}
        {{ if ne . "" }}
          <span class="site-title">{{ . }}</span>
        {{ end }}
      {{- end }}
    </a>
  </div>

  <nav class="site-menu">
    <ul>
      {{ range .Site.Menus.main }}
        <li>
          <a href="{{ .URL }}">{{ .Name }}</a>
          {{ if .HasChildren }}
            <ul>
              {{ range .Children }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  </nav>

</div>
