# Serve the static index
DirectoryIndex index.html

# Enable rewrite engine
RewriteEngine On

# Force HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Force non-www (comment these 2 lines out if you prefer www)
RewriteCond %{HTTP_HOST} ^www\.cabear\.com$ [NC]
RewriteRule ^ https://cabear.com%{REQUEST_URI} [L,R=301]
